VITE_SUPABASE_URL=https://mrxyroprczleytirexaj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yeHlyb3ByY3psZXl0aXJleGFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM0MDI0NTQsImV4cCI6MjA1ODk3ODQ1NH0.P0zjplhe4QB_7Wcg3y1JtHOXk_v0n2NivVhLESjZ6NQ